@page "/dashboard"

<PageTitle>Dashboard</PageTitle>


<div class="jumbotron">
  <h1 class="display-4">Hello, (Insert User Name Here)</h1>
  <hr class="my-4">
  <h1> <span class="badge bg-secondary">Total Investments: $23,715</span></h1>
  <br />

  <h2>Accounts:</h2>
  <div class="account-table-and-graph">
    <table class="account-table table table-borderless">
            <tbody class="account-table">
                <tr>
                    <th style="background-color: rgb(240,240,240);" scope="row"></th>
                    <td style="background-color: rgb(240,240,240);">Brockerage Account <br />****9897</td>
                    <td style="background-color: rgb(240,240,240);">$12,000</td>
                </tr>
                <tr>
                    <th scope="row" style="background-color: rgb(240,240,240);"></th>
                    <td style="background-color: rgb(240,240,240);"> Roth IRA <br />****3721</td>
                    <td style="background-color: rgb(240,240,240);" >$11,715</td>
                </tr>
            </tbody>
    </table>

    <div class="d-flex" style="height: 250px;">
        <div class="vr"></div>
    </div>

    <Client.Components.PastYearInvestmentsGraph />

  </div>

  

  <div class="accounts-button">
    <button type="button" class="btn btn-primary">View Accounts</button>
  </div>

</div> <!--jumbtron class-->

<br /><br />

<div class="bottom-half-cards">

    <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Account Activity</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Account</th>
                        <th scope="col">Type</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1/12/24</th>
                        <td>Roth IRA</td>
                        <td>Program Fee</td>
                        <td>-$25.00</td>
                    </tr>
                    <tr>
                        <th scope="row">1/31/24</th>
                        <td>Roth IRA</td>
                        <td>Monthly Contribution</td>
                        <td>$500.00</td>
                    </tr>
                    
                </tbody>
            </table>
            <button type="button" class="btn btn-primary card-link">View Activity</button>
        </div>
        
    </div> <!-- Account Activity card-->

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Stocks</h5>
            <button type="button" class="btn btn-primary card-link">View Stocks and Market Activity</button>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">My Financial Advisor</h5>
            <h5>(Insert Some Name Here)</h5>
            <button type="button" class="btn btn-primary card-link">Send a Message</button>
        </div>
    </div>

</div>




@code {

}
