body {
}

.jumbotron {
    background-color: rgb(240, 240, 240);
    padding-bottom: 20px;
}

.jumbotron .badge {
    box-shadow: 3px 3px 3px black;
}



.accounts-button{
    margin-left: 35px;
}

.account-table-and-graph {
    display: flex;
    
}




.bottom-half-cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
