<footer>
    <img src="images/CommerceBankLogoWhite.png" asp-append-version="true" width="300px" />
    <br />
    <div class="socials">
        <a href="https://www.facebook.com/commercebank">Facebook</a>
        <a href="https://twitter.com/commercebank">Twitter</a>
        <a href="https://www.linkedin.com/company/commerce_bank/">Linkedin</a> 
        <a href="https://www.instagram.com/commercebank/">Instagram</a>
    </div>

    <br /> <br />
    <h6> Copyright © 2024. Commerce Bank, Member FDIC</h6>
</footer>

@code {

}
